DMPONLINE_API_URL=
DMPONLINE_API_URL_V1=
DMPONLINE_API_URL_V0=
DMPONLINE_USER=
DMPONLINE_AUTH_CODE=
LOGFILE=dmplog.txt
SWECRIS_URL=https://swecris-api.vr.se/v1/projects/
SWECRIS_API_KEY=
DMP_ID_PREFIX=dmptest
DEFAULT_AFF=
DEFAULT_AFF_ROR=
DEFAULT_AFF_ABBREV=

