DMPONLINE_API_URL=https://dmp.kth.se/api/v1/
DMPONLINE_API_URL_V1=https://dmp.kth.se/api/v1/
DMPONLINE_API_URL_V0=https://dmp.kth.se/api/v0/
DMPONLINE_USER= [admin konto / mail]
DMPONLINE_AUTH_CODE= [API-Key]
LOGFILE=dmplog.txt
SWECRIS_URL=https://swecris-api.vr.se/v1/projects/
SWECRIS_API_KEY= [API KEY]
DMP_ID_PREFIX=dmptest
DEFAULT_AFF=KTH Royal Institute of Technology
DEFAULT_AFF_ROR=https://ror.org/026vcq606
DEFAULT_AFF_ABBREV=KTH

